<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <h1 class="charname">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'nkrbz.Item.InputName'}}" />
    </h1>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <!-- <a class="item" data-tab="properties">{{localize "nkrbz.Item.Properties"}}</a> -->
    <a class="item" data-tab="description">{{localize "nkrbz.Common.Description"}}</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor systemData.description target="system.description" button=true engine="tinymce" collaborate=false}}
    </div>
    {{!-- Properties Tab --}}
    <div class="tab properties" data-group="primary" data-tab="properties">  
      <table>
        <tr>
          <td>{{localize "nkrbz.Item.Armor.Survivability"}}</td>
          <td><input type="checkbox" name="data.isSurval" {{checked systemData.isSurval}}/></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Item.Armor.SurvVal"}}</td>
          <td><input type="number" name="data.survVal" value="{{systemData.survVal}}" data-dtype="Number"/></td>
        </tr>
      </table>
    </div>
  </section>
</form>