<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <h1 class="charname">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'nkrbz.Item.InputName'}}" />
    </h1>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="properties">{{localize "nkrbz.Item.Properties"}}</a>
    <a class="item" data-tab="description">{{localize "nkrbz.Common.Description"}}</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor systemData.description target="system.description" button=true engine="tinymce" collaborate=false}}
    </div>
    {{!-- Properties Tab --}}
    <div class="tab properties" data-group="primary" data-tab="properties">  
      <table>
        <tr>
          <td>{{localize "nkrbz.Item.Weapon.isTraumatic"}}</td>
          <td><input type="checkbox" name="data.props.isTraumatic" {{checked systemData.props.isTraumatic}}/></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Item.Weapon.valTraumatic"}}</td>
          <td><input type="number" name="data.props.valTraumatic" value="{{systemData.props.valTraumatic}}" data-dtype="Number"/></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Item.Weapon.isSingleShot"}}</td>
          <td><input type="checkbox" name="data.props.isSingleShot" {{checked systemData.props.isSingleShot}}/></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Item.Weapon.isSilent"}}</td>
          <td><input type="checkbox" name="data.props.isSilent" {{checked systemData.props.isSilent}}/></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Item.Weapon.Distance"}}</td>
          <td>
            <select name="data.distance">
              {{#select systemData.distance}}
                {{#each config.Distance as |name key|}}
                  <option value="{{key}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Item.Weapon.Damage"}}</td>
          <td>
            <input type="text" name="data.diceDamage" placeholder="2d6" value="{{systemData.diceDamage}}"/>
          </td>
        </tr>
      </table>
    </div>
  </section>
</form>