<form class="{{cssClass}}" autocomplete="off">

<!-- Фотка, Название и имя персонажа -->
<div class='actor-wrapper actor-info'>
  <div class='actor-row'>
    <div class='actor-column actor-image-column'>
        <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
    <div class='actor-column actor-title-column'>
      <ul>
        <li>{{localize 'nkrbz.Common.Title'}}</li>
        <li>{{localize 'nkrbz.Common.SubTitle'}}</li>
      </ul>
    </div>
    <div class='actor-column actor-labels'>
      <ul>
        <li>{{localize "nkrbz.Actor.Supervisor"}}&nbsp;<input name="data.supervisor" type="text" value="{{systemData.supervisor}}" placeholder="" /></li>
        <li>{{localize "nkrbz.Actor.Name"}}&nbsp;<input name="name" type="text" value="{{data.name}}" placeholder="" /></li>
        <li>{{localize "nkrbz.Actor.Code"}}&nbsp;<input name="data.code" type="text" value="{{systemData.code}}" placeholder="" /></li>
      </ul>
    </div>
  </div>
</div>

<!--  Атрибуты, Орда, Травмы -->
<div class='actor-wrapper'>
  <div class='actor-row'>
    
    <div class='actor-column actor-attr-block'>
        <h3>{{localize 'nkrbz.Actor.Attrs.Label'}}</h3>
        <table>
          <tr>
              <td class="cgrab actor-roll-attrs" attr-type="agr">{{localize "nkrbz.Actor.Attrs.Agr"}}</td>
              <td class="actor-attrs"><input name="data.attrs.agr.curr" type="text" value="{{systemData.attrs.agr.curr}}" placeholder="" /></td>
              <td class="actor-attrs"><input name="data.attrs.agr.max" type="text" value="{{systemData.attrs.agr.max}}" placeholder="" /></td>
            </tr>
            <tr>
              <td class="cgrab actor-roll-attrs" attr-type="agi">{{localize "nkrbz.Actor.Attrs.Agi"}}</td>
              <td class="actor-attrs"><input name="data.attrs.agi.curr" type="text" value="{{systemData.attrs.agi.curr}}" placeholder="" /></td>
              <td class="actor-attrs"><input name="data.attrs.agi.max" type="text" value="{{systemData.attrs.agi.max}}" placeholder="" /></td>
            </tr>
            <tr>
              <td class="cgrab actor-roll-attrs" attr-type="int">{{localize "nkrbz.Actor.Attrs.Int"}}</td>
              <td class="actor-attrs"><input name="data.attrs.int.curr" type="text" value="{{systemData.attrs.int.curr}}" placeholder="" /></td>
              <td class="actor-attrs"><input name="data.attrs.int.max" type="text" value="{{systemData.attrs.int.max}}" placeholder="" /></td>
            </tr>
            <tr>
              <td>{{localize "nkrbz.Actor.Attrs.srv"}}</td>
              <td class="actor-attrs"><input name="data.attrs.srv.curr" type="text" value="{{systemData.attrs.srv.curr}}" placeholder="" /></td>
              <td class="actor-attrs"><input name="data.attrs.srv.max" type="text" value="{{systemData.attrs.srv.max}}" placeholder="" /></td>
            </tr>
            <tr>
              <td>{{localize "nkrbz.Actor.Attrs.brains"}}</td>
              <td colspan="2"><input name="data.attrs.brains" type="text" value="{{systemData.attrs.brains}}" placeholder="" /></td>
            </tr>
        </table>
    </div>
    <div class='actor-column actor-attr-block'>
      
      <h3>{{localize "nkrbz.Actor.HordesLabel"}}</h3>
      <table>
        <tr>
          <td>{{localize "nkrbz.Actor.HordesHP"}}</td>
          <td colspan="2"><input name="data.hordes.hp" type="text" value="{{systemData.hordes.hp}}" placeholder="" /></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Actor.HordesDmg"}}</td>
          <td colspan="2"><input name="data.hordes.dmg" type="text" value="{{systemData.hordes.dmg}}" placeholder="" /></td>
        </tr>
        <tr>
          <td>{{localize "nkrbz.Actor.HordesSize"}}</td>
          <td class="actor-attrs"><input name="data.hordes.size.curr" type="text" value="{{systemData.hordes.size.curr}}" placeholder="" /></td>
          <td class="actor-attrs"><input name="data.hordes.size.max" type="text" value="{{systemData.hordes.size.max}}" placeholder="" /></td>
        </tr>
        <tr>
          <td colspan="3"><i>{{{localize "nkrbz.Actor.HordeTitle"}}}</i></td>
        </tr>
      </table>
    </div>
    <div class='actor-column'>
      <h3>{{localize "nkrbz.Actor.Injuries"}}</h3>
      <table class="actor-item-equip">
        {{#each isInjury as |item key|}}
        <tr item-id="{{item.id}}" item-type="{{item.type}}">
          <td><img src="{{item.img}}" alt="{{item.name}}"></td>
          <td>{{item.name}}</td>
          <td><i class="fa-solid fa-trash equip-item-del"></i></td>
        </tr>
        {{else}}
          <tr>
            <td>{{localize "nkrbz.Actor.noInjury"}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>

{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="weaponequip">{{localize "nkrbz.Common.Weaponequip"}}</a>
  <a class="item" data-tab="skills">{{localize "nkrbz.Actor.SkillsLabel"}}</a>
  <a class="item" data-tab="description">{{localize "nkrbz.Common.ForNotes"}}</a>
</nav>

{{!-- Sheet Body --}}
<section class="sheet-body">
  {{!-- Снаряга и оружие Tab --}}
  <div class="tab weaponequip" data-group="primary" data-tab="weaponequip">

    <div class='actor-wrapper'>
      <div class='actor-row'>
        <div class='actor-column equip-sideleft'>
          <h3>{{localize "nkrbz.Actor.itWeapons"}}</h3>
          <table class="actor-item-equip">
            <tr>
              <td><img src="{{get_assets "evil-hand.png"}}" alt="{{localize "nkrbz.Actor.HandDmg"}}"></td>
              <td>{{localize "nkrbz.Actor.HandDmg"}}</td>
              <td>1</td>
              <td>-</td>
            </tr>
            {{#each isWeapons as |item key|}}
            <tr item-id="{{item.id}}" item-type="{{item.type}}">
              <td><img src="{{item.img}}" alt="{{item.name}}"></td>
              <td class="actor-roll-weapon">{{item.name}}</td>
              <td>{{item.damage}}</td>
              <td><i class="fa-solid fa-trash equip-item-del"></i></td>
            </tr>
            {{/each}}
          </table>
          <h3>{{localize "nkrbz.Actor.itArmor"}}</h3>
          <table class="actor-item-equip">
            {{#each isArmor as |item key|}}
            <tr item-id="{{item.id}}" item-type="{{item.type}}">
              <td><img src="{{item.img}}" alt="{{item.name}}"></td>
              <td>{{item.name}}</td>
              <td>{{#if item.isSurval}}+{{item.survVal}}{{/if}}</td>
              <td><i class="fa-solid fa-trash equip-item-del"></i></td>
            </tr>
            {{else}}
            <tr>
              <td colspan="4">{{localize "nkrbz.Actor.noArmor"}}</td>
            </tr>
            {{/each}}
          </table>
          <h3>{{localize "nkrbz.Actor.itEquips"}}</h3>
          <table class="actor-item-equip">
            {{#each isEquip as |item key|}}
            <tr item-id="{{item.id}}" item-type="{{item.type}}">
              <td><img src="{{item.img}}" alt="{{item.name}}"></td>
              <td>{{item.name}}</td>
              <td><i class="fa-solid fa-trash equip-item-del"></i></td>
            </tr>
            {{else}}
            <tr>
              <td colspan="3">{{localize "nkrbz.Actor.noEquips"}}</td>
            </tr>
            {{/each}}
          </table>
        </div>
        <div class='actor-column equip-sideright'>
        <h3>{{localize "nkrbz.Actor.itOthers"}}</h3>
          <ul>
            <li>{{localize "nkrbz.Actor.Ammo"}} <input name="data.ammunition" type="text" value="{{systemData.ammunition}}" placeholder="" /></li>
            <li>
              <input name="data.equipsNotes.notes1" type="text" value="{{systemData.equipsNotes.notes1}}" placeholder="" />
            </li>
            <li>
              <input name="data.equipsNotes.notes2" type="text" value="{{systemData.equipsNotes.notes2}}" placeholder="" />
            </li>
            <li>
              <input name="data.equipsNotes.notes3" type="text" value="{{systemData.equipsNotes.notes3}}" placeholder="" />
            </li>
            <li>
              <input name="data.equipsNotes.notes4" type="text" value="{{systemData.equipsNotes.notes4}}" placeholder="" />
            </li>
            <li>
              <input name="data.equipsNotes.notes5" type="text" value="{{systemData.equipsNotes.notes5}}" placeholder="" />
            </li>
            <li>
              <input name="data.equipsNotes.notes6" type="text" value="{{systemData.equipsNotes.notes6}}" placeholder="" />
            </li>
            <li>
              <input name="data.equipsNotes.notes7" type="text" value="{{systemData.equipsNotes.notes7}}" placeholder="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{!-- Способности Tab --}}
  <div class="tab skills" data-group="primary" data-tab="skills">
    <div class='actor-wrapper actor-skills'>
  <div class='actor-row'>
    <div class='actor-column'>
      <h3>{{localize "nkrbz.Actor.SkillCommon"}}</h3>
        <ul>
          {{#each config.Skills.Common as |name key|}}
              <li>
                <input type="checkbox" name="data.skills.Common.{{name}}" {{checked (lookup ../systemData.skills.Common name)}}/>  
                {{#ife name "masspl"}}
                  <input type="checkbox" name="data.skills.Common.masspl_2" {{checked ../systemData.skills.Common.masspl_2}}/>
                  <input type="checkbox" name="data.skills.Common.masspl_3" {{checked ../systemData.skills.Common.masspl_3}}/>  
                {{/ife}}
                {{#ife name "puthand"}}
                  <input type="checkbox" name="data.skills.Common.puthand_2" {{checked ../systemData.skills.Common.puthand_2}}/>
                  <input type="checkbox" name="data.skills.Common.puthand_3" {{checked ../systemData.skills.Common.puthand_3}}/>  
                {{/ife}}
                {{lzCc "nkrbz.Actor.Skills.Common." name}}
              </li>          
          {{/each}}
        </ul>
      </div>
      <div class='actor-column'>
        <h3>{{localize "nkrbz.Actor.SkillAgress"}}</h3>
        <ul>
          {{#each config.Skills.Agresses as |name key|}}
            <li><input type="checkbox" name="data.skills.Agresses.{{name}}" {{checked (lookup ../systemData.skills.Agresses name)}}/>  {{lzCc "nkrbz.Actor.Skills.Agresses." name}}</li>
          {{/each}}
        </ul>
        <h3>{{localize "nkrbz.Actor.SkillAgi"}}</h3>
        <ul>
          {{#each config.Skills.Agilities as |name key|}}
            <li><input type="checkbox" name="data.skills.Agilities.{{name}}" {{checked (lookup ../systemData.skills.Agilities name)}}/>  {{lzCc "nkrbz.Actor.Skills.Agilities." name}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='actor-column'>
        <h3>{{localize "nkrbz.Actor.SkillInt"}}</h3>
        <ul>
          {{#each config.Skills.Intelegent as |name key|}}
            <li><input type="checkbox" name="data.skills.Intelegent.{{name}}" {{checked (lookup ../systemData.skills.Intelegent name)}}/>  {{lzCc "nkrbz.Actor.Skills.Intelegent." name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </div>
  {{!-- Для заметок Tab --}}
  <div class="tab" data-group="primary" data-tab="description">
    {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</section>
</form>
